.heading{text-align: center;}
.row{height: auto;}
.para{margin: 0 auto;width: 87%;margin-top: -50px;}
.para p{line-height:30px;word-spacing: 2px;text-align: center;}
.butfix{margin: 0 auto;margin-top: 50px;}