.peragraph p{line-height:30px;word-spacing: 2px;text-align: center;}
.five-icon{display: flex;margin: 0 auto;margin-top: 42px;
    width: 84%;}
.icon1{display: flex;background:white;margin-left: 20px;width: 170px;height: 50px; margin: 0 auto; margin-top: 20px;}
#imgicon1{width: 70px;height: 48px;}
.icon1 p{font-size: 14px;
    color: black;
    padding: 11px;
    margin-left: 10px;}
.ffcchaild1{width: 250px;height: 70px;background: #ff4c3b;margin: 0 auto;border-radius: 3px;display: flex;padding: 20px;margin-top: 30px;}
    .coronagiedline{background: white}
    .peragraph{margin: 0 auto;width: 87%;margin-top: 20px;}
    
    .coronagiedline{height: auto;}